$hero-bg-color: rgb(250, 182, 182);
$t-color: #fff;
$bg-width: 150px;
$bg-height: 150vh;
$button-text-size: 15px;
$b-padding: 15px;
$b-radius: 15px;

.button1{
    background-color: $hero-bg-color;
    width: $bg-width;
    font-size: $button-text-size;
    color: $t-color;
    padding: $b-padding;
    border-radius: $b-radius;
    cursor: pointer;
}

.button2{
    background-color: $hero-bg-color;
    width: $bg-width;
    font-size: $button-text-size;
    color: $t-color;
    padding: $b-padding;
    border-radius: $b-radius;
    cursor: pointer;
}

.button3{
    background-color: $hero-bg-color;
    width: $bg-width;
    font-size: $button-text-size;
    color: $t-color;
    padding: $b-padding;
    border-radius: $b-radius;
    cursor: pointer;
}